<style type="text/css">
    .root
    {
        display: flex;
        justify-content: center;
        align-items: center;
        
           
        /* 
        background-color: #eb4d4b;
        color:#fff;
        width: 500px;
        height: 400px;
        font-size: 30px
        font-weight: bold;
        letter-spacing: 2px;
        border-radius: 20px;
        */
    }
    .box
    {
        width: 600px;
        border-radius: 20px;
        background-color: #E6E6FA; 
        margin-top: 30px;
        padding: 30px;
        box-shadow: 0px 0px 21px black;
        
    
    
    
    }
    .gap
    {
        margin-top: 20px;
    
    
    }
    .gapp
    {
        margin-top: 10px;
    
    }
    </style>


<style type="text/css">
    
    .dashboard
    {
        background-color: #E6E6FA; 
      
        padding: 20px;       
        height: 630px; 
    
    
    
    }
    .gap
    {
        margin-top: 20px;
    
    
    }
    .wd
    {
        height: 50px;
        width: 230px;
    }
    </style>
    
    <html>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js">
        </script>
        <script src="/javascripts/project.js">
        </script>
        
        <title>
          Admin Dashboard
        </title>
          
          <body style="background-color: #4B0082;">


        <nav class="navbar navbar-light bg-light">
            <a class="navbar-brand" href="#">
                
                <div style="font-size: 24px;color: #4B0082;font-weight: bolder;letter-spacing: 2px;">
                    <img src="/images/product.png" width="30" height="30" class="d-inline-block align-top" alt="">
                    Products Management
            </div>
            </a>
            <div style="font-size: 24px;color: #4B0082;font-weight: bolder;letter-spacing: 2px;">
                <img src="/images/<%=aresult.picture %>" style="border-radius: 30px;width: 50px;height: 50px;">
                <%=aresult.adminname %>
            </div>
        </nav>

    <div class="form-row">
                              
        <div class="form-group col-md-2" style="display: flex;align-items: center;justify-content: left;font-size: 24px;color: #4B0082;font-weight: bolder;letter-spacing: 2px;">
            <div class="dashboard">
                <div><a type="button" style="font-size: 16px;color: #4B0082;" class="btn btn-light wd" href="/admin/dashboard">Dashboard</a></div>
                <div><a type="button" style="font-size: 16px;color: #4B0082;" class="btn btn-light wd" href="/products/productinterface">Add Products</a></div>
                <div><a type="button" style="font-size: 16px;color: #4B0082;" class="btn btn-light wd" href="/products/displayproducts">Products List</a></div>
                <div><a type="button" style="font-size: 16px;color: #4B0082;" class="btn btn-light wd" href="/products/searchbyid">Search Products</a></div>
                <div><a type="button" style="font-size: 16px;color: #4B0082;" class="btn btn-light wd" href="/admin/logout">Logout</a></div>
                
            </div>


        </div>  
        <div class="form-group col-md-10" style="display: flex;align-items: center;justify-content: center;padding-left: 20px;font-size: 24px;color: #fff;font-weight: bolder;letter-spacing: 2px;">
            
            <script src="https://code.jquery.com/jquery-3.6.0.min.js">
            </script>
            <script src="/javascripts/project.js">
            </script>
            
            <title>
              Edit Picture
            </title>
              
            <body style="background-color: #4B0082;">
                  <form action="/products/uploadnewimage" method="post" enctype="multipart/form-data">
            <div class="root"> 
              
                <div class="box">
                    <div class="row">
    
                        <input type="hidden" value="<%=data.pid %>" name="productid"> 
                        <div style="padding-left: 20px;font-size: 24px;color: #4B0082;font-weight: bolder;letter-spacing: 2px;">
                            <%=data.pname %>
                        </div>    
                    </div>
                    <div class="row">
                        <div class="col" style="padding-left: 180px;">
                            <img src="/images/<%=data.picture %>" width="250">
                        </div>
                    </div>  
                    <div class="row gap">
                        <div style="padding-left: 20px;font-size: 20px;color: #4B0082;">
                            Select New Image
                        </div>   
    
                    </div>  
                    <div class="row gapp">
                        <div class="col">
                            <input required type="file" name="picture" class="form-control">
                        </div>
    
                        <div class="col" style="display: flex; justify-content: center; align-items: center;">
                            <button type="submit" style="width: 250px;" class="btn btn-success">Update Image</button>
                        </div>
    
    
                    </div>
                
                </div>
            </div>
            </form>     
    </body>
         
        
        </div>


    </div>
          




</body>
    </html>

